@media only screen and (max-width: 600px) {
    .stylePallet {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 601px) {
    .stylePallet {
        display: flex;
        flex-direction: row;
    }
}

.inputRatio, .inputRatio2 {
    border-radius: 5px;
    border: none;
    background-color: darkseagreen;
    color: white;
    padding: 5px;
    margin: 3px;
    text-align: center;
}

.rainbow1 {
    margin: 0 auto;
    color: wheat;
    background-color: purple;
    height: 10vh;
    width: 100%;
    text-align: center;
    padding-top: 1.2em;
    margin-bottom: 2em;
}


.stylePallet, .rainbow {
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.styleAddColor-input {
    border-radius: 5px;
    border: none;
    background-color: darkseagreen;
    color: white;
    padding: 5px;
    margin: 3px;
    text-align: center;
}

.styleAddColor-btn {
    background-color: darkgoldenrod;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    color: wheat;
}

.styleAddColor-btn:focus {
    outline: none;
}

.styleAddColor-input:focus {
    outline: none;
}


.icon-trash {
    cursor: pointer;
    color: darkblue;
    font-size: 1.5em;
}

.color-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin: 5px;
    font-size: 0.7em;
}

.style-pallet {

}

p, .icon-trash {
    margin: 0 2px;
}
