@media only screen and (max-width: 600px) {
    .style-color {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 601px) {
    .style-color {
        display: flex;
        flex-direction: row;
    }
}


@media (max-width: 600px) {
    h2 {
        display: none;
    }
}


.style-color {
    width: 100%;
    height: 25vh;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.style-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.6em;
    justify-content: space-between;
    background-color: rosybrown;
    border-radius: 5px;
    box-shadow: 5px 6px 6px -6px rebeccapurple;
}



input {
    border-radius: 5px;
    border: none;
    background-color: darkseagreen;
    color: white;
    padding: 5px;
    margin: 3px;
    text-align: center;
    box-shadow: 5px 6px 6px -8px darkolivegreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: wheat;
    width: 100vw;
    min-height: 50px;

}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

button {
    background-color: darkgoldenrod;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
    color: wheat;
    box-shadow: 5px 8px 6px -6px goldenrod;
}

.icon-trash {
    color: purple;
    font-size: 0.9em;
    padding-right: 15px;
}

.icon-trash:hover {
    color: mediumpurple;
}
button:hover {
    background-color: rebeccapurple;
}



h2 {
    margin: auto 3em;
    border-radius: 5px;
    border: none;
    background-color: rosybrown;
    color: white;
    padding: 5px;
    text-align: center;
    width: 67px;
    height: 20px;
}