
.styleUnit {
    display: block;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    background-color: goldenrod;
    text-align: center;
    color: darkslategrey;
    padding: 10px;

}

select {
    background-color: darkgoldenrod;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    color: wheat;
}

select:focus {
    outline: none;
}

.fa-solid {
    color: red;
    width: 2em;
}


.icon-bar {
    color: hotpink;
}